@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Playwrite+AU+VIC+Guides&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    


}
.main{
    overflow: hidden;
}

nav {
    height: 100px;
    width: 100vw;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;

    align-items: center;
    


}

h1 {
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;
    color: white;
    position: relative;
    left: 25px;

}

.circle {
    height: 70px;
    width: 70px;
    border: 3px solid rgb(226, 212, 212);
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    left: 70vw;


    margin: 10px;
}

.circle img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.stories {
    height: 100%;
    width: 100%;



}

.fullscreen {
    height: 70vh;
    width: 70vh;
    margin-top: 81vh;
    background-size: cover;
    position: absolute;
    left: 63vw;

    display: none;
    z-index: 1;
}

.picture {
    height: 89.3vh;
    width: 100vw;
    background-color: #1f2020;
    display: flex;
    justify-content: space-between;
    align-items: center;




}

.picture img {
    height: 89.3vh;
    width: 100%;
    object-fit: cover;
    border: 5px solid white;




    object-position: center;

}

.content-right {
    position: relative;
    
    right: 17vw;
    bottom: 20vh;
    
    
}
#para{
    color: white;
    font-family:  "Bebas Neue", serif;
    font-size: small;
    position: absolute;
    right: 20vw;

}



#letter{
    font-size: 8rem;
    font-family:  "Bebas Neue", serif;
    position: relative;
    
    bottom: 5vh;
    left: -22vw;
}
#letter2{
    font-size: 8rem;
    font-family:  "Bebas Neue", serif;
    position: relative;
    
    bottom: 5vh;
    left: -22vw;

}
#line{
    background-color: white;
    position: absolute;
    height: 3px;
    width: 49vw;
    bottom: 9vh;
    left: 11vw;
    
     
}

